<%- include('./partials/header.ejs') %>
<div class="ui main text container segment">
    <div class="ui huge header">Sign Up</div>
        <form action="/register" method="POST" class="ui form">
            <div class="ui field">
                <label>Username</label>
                <input type="text" name="username" placeholder="Enter Username" required>
            </div>
            <div class="ui field">
                <label>Password</label>
                <input type="password" id="registerPwd" name="password" placeholder="Enter Password" required>
                <br>
                <br>
                <div class="ui checkbox">
                    <input type="checkbox" onclick="myFunction()">
                    <label>Show Password</label>
                </div>
            </div>
            
            <input class="ui green inverted big button" type="submit" value="Sign Up">
        </form>
</div>

<script>
    function myFunction() {
      var x = document.getElementById("registerPwd");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
</script>
<%- include('./partials/footer.ejs') %>