:root {
    font-family: 'Franklin Gothic Medium';
}

i .icon {
    font-size: 5em;
}

.container.main {
    margin-top: 7.0rem;
}

#deleteform {
    display: inline;
}

#item1:hover {
    color: white;
}

#item2:hover {
    color: white;
}

#item3:hover {
    color: white;
}

#item4 {
    float: left;
}

#item4:hover {
    color: white;
}
